{% extends 'base.html.twig' %}

{% block title %}Responsable!{% endblock %}

{% block body %}
<div class="container">

  <div class="row">
   
    <div class="col-3">
    <div class="bg-primary button-dash">
            <a href="/article">
Gestion article
</a></div>
    </div><div class="col-3">
 <div class="bg-primary button-dash">
    <a href="/category">
    Gestion catégorie</a></div>    </div><div class="col-3">
    <div class="bg-primary button-dash">
        <a href="/commande">
    Gestion commande
    </a>
    </div>
    </div>
  </div>
  </div>
{% endblock %}
